body  {
	width: 50%;
	margin: 20px auto;
}

div {
	position: relative;
	margin-bottom: 10px;
}

div:first-child {
	width: 800px;
	height: 500px;
}

canvas {
	position: absolute;	
}

canvas#arrierePlan {
	z-index: 0;
}

canvas#canvHunt {
	/* Center le texte pour les navigateur ne supportant pas les canvas */
	text-align: center;
	/* On affiche une cible sur le canvas */
	z-index: 1;
}

canvas#canvHunt.partieEnCours {
	cursor: url("../images/viseurRouge.png") 16 16, crosshair;
}

#controle {
	text-align: center;
}

#controle button {
	height: 32px;
	vertical-align: middle;
}

ul {
	margin-top: -10px;
	list-style: none;
}


